# 本地巡检截图证据，不进入 Git
screenshots/
screenshots_v5/
screenshots_v5_recheck/
screenshots_focused/
screenshots_v6/
screenshots_v6_recheck/
screenshots_v7/
screenshots_v8/
screenshots_v9/
screenshots_v10/
screenshots_v11/
screenshots_v12/
ngserve.log
ngserve_run*.log
run_*.log
run*.log
*_check.png
home_dark.png
backlog_new_dialog.png
screenshots_*/
quick_recheck_*.json
